/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-right {
    padding: 0;
}

.navbar-right li {
    display: inline;
    margin: 0;
}

.navbar-right li a {
    color: #777777;
    text-decoration: none;
}

.navbar-right li a:hover {
    color: black;
}

.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.shopping-cart {
    visibility: hidden;
    margin: 10px 0;
    background: #DEE3ED;
    width: 320px;
    max-height: 434px;
    position: absolute;
    border-radius: 3px;
    padding: 20px;
    z-index: 50;
    right: 5%;
    top: 8%;
}

@media screen and (min-width: 1000px) {
    .shopping-cart {
        right: 15%;
    }
}

@media screen and (max-width: 840px) {
    .shopping-cart {
        right: 5%;
    }
}

@media screen and (max-width: 766px) {
    .shopping-cart {
        right: 15%;
    }
}

@media screen and (max-width: 715px) {
    .shopping-cart {
        right: 10%;
    }
}

@media screen and (max-width: 575px) {
    .shopping-cart {
        top: 18%;
        left: 5%;
    }
}
  
.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart-total {
    float: right;
}

.shopping-cart-items {
    padding: 20px 0 0 0;
    max-height: 266px;
    overflow: auto;
}

.shopping-cart-items li {
    margin: 0 0 18px 0;
    list-style-type: none;
    padding: 0;
}

.shopping-cart-items img {
    float: left;
    margin-right: 12px;
}
    
.shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}
    
.shopping-cart-items .item-price {
    color: #6394F8;
    margin-right: 8px;
}
    
.shopping-cart-items .item-quantity {
    color: #ABB0BE;
}

.shopping-cart:after {
    bottom: 100%;
    left: 89%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #DEE3ED;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.shopping-cart .button {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.shopping-cart .button:hover {
    background: #7FA6F7;
}

.clearfix img {
    height: 70px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Sort control group style
-------------------------------------------------- */
.sort-control-group {
    border-bottom: 1px solid #e5e5e5;
    border-radius: 3px;
    border-width: 1px;
    display: block;
    margin: 5px 0;
    padding: 10px 15px;
    width: 100%;
}

.sort-control-item {
    float: left;
    margin-right: 10px;
    position: relative;
    width: fit-content;
}

.sort-control-item select {
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #fff;
    border-color: #ccc;
    cursor: pointer;
    color: #666;
    font-size: 16px;
    max-width: 150px;
    min-width: 130px;
    padding: 5px 10px;
}

.sort-control-group button {
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #F1F1F1;
    border-color: #ccc;
    color: #666;
    font-size: 16px;
    width: 60px;
    padding: 5px 10px;
}

.sort-control-group button:hover {
    background-color: #E5E5E5;
    cursor: pointer;
    color: #444;
}

/* Cards grid style
-------------------------------------------------- */
.cards {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.card {
    height: 540px;
    max-width: 350px;
}
.card img {
    align-self: center;
    height: 33%;
    padding-top: 10px;
}

.card-body a {
    background: linear-gradient(to right,#4a60c1 10%,#3985e0);
    border-width: 0;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 10px;
    position: absolute;
    width: 96%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px;
}

.card-body a:hover {
    background: linear-gradient(to right,#3A50AF 10%,#3178CE);
    cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
