@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

:root {
    --sidebar-bgColor: #242e42;
    --sidebar-bgColor-hover: #1d2636;
    --sidebar-txtColor: #dde9f8;
    --sidebar-headingColor: #7889a4;
    --sidebar-width: 100%;
    --page-content-bgColor: #f0f1f6;
    --page-content-txtColor: #171616;
    --page-content-blockColor: #fff;
    --white: #fff;
    --black: #333;
    --blue: #00b9eb;
    --border-radius: 4px;
}

.App {
    display: flex;
}

h3 {
    text-align: center;
}

ul {
    list-style: none;
}

.sidebar {
    border-radius: var(--border-radius);
    background-color: #2f4050;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    transition: width 0.2s linear;
}

.sidebar .admin-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.sidebar .admin-menu li {
    align-self: center;
    padding: 14px 20px;
    color: #a7b1c2;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    font-weight: 600;
}

.sidebar .admin-menu .menu-heading h3 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 12px;
    margin-top: 12px;
    color: var(--sidebar-headingColor);
}

.sidebar .admin-menu a {
    align-items: center;
    background: none;
    border: none;
    color: var(--sidebar-headingColor);
    display: flex;
    font-size: 0.9rem;
    border-left: 2px solid #7889a4;
    padding: 0 25px;
}

.sidebar .admin-menu a:hover,
.sidebar .admin-menu a:focus {
    color: #fff;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border-left-color: #fff;
}

@media (max-width: 768px) {
    .App {
        flex-direction: column;
    }

    .sidebar {
        border-radius: var(--border-radius);
        background-color: #2f4050;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
        transition: width 0.2s linear;
    }
}

/* PAGE CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-content {
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    color: var(--page-content-txtColor);
    background: var(--page-content-bgColor);
}

.page-content .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.page-content .grid > div {
    display: flex;
    height: 300px;
    background: var(--page-content-blockColor);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
    align-items: center;
    text-align: center;
    width: 100%;
}

.orders-list {
    list-style: none;
}

.order-hist-box {
    display: grid;
    margin: 15px 0 25px;
    padding: 20px;
    font-family: "Open Sans";
    font-size: 14px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgb(27 27 27 / 20%);
}

.order-head {
    border-bottom: 1px solid #cecece;

}

.go-left {
    float: left;
}

.go-left h2 {
    color: #0366d6;
    font-family: "Open Sans",Helvetica,sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.go-left p {
    font-family: "Open Sans",Helvetica,sans-serif;
}

.go-left h2 a:hover {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

.go-right {
    float: right;
}

.full-white-button {
    display: inline-block;
    padding: 4px 8px;
    line-height: 22px;
    font-family: "Open Sans",Helvetica,sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #0f6ab2;
    background-color: #fff;
    border: 1px solid #0f6ab2;
    border-radius: 3px;
}

.full-white-button:hover {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

.table-header {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: space-around;
    border: 2px solid var(--sidebar-bgColor);
    margin: -2px;
    border-radius: var(--border-radius);
    background: var(--sidebar-bgColor);
    color: var(--white);
}

.table-content {
    display: flex;
    flex-direction: column;
}

.table-content .row {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.table-content .row .order-preview,
.order-details-row {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: space-around;
    align-items: center;
}

.table-content .row .order-preview {
    text-align: center;
    grid-gap: 0;
}

.table-content .row .order-preview:hover {
    box-shadow: 0 1px 2px #888;
    cursor: pointer;
}

.order-number-header {
    width: 5vw;
}

.placed-header {
    width: 15vw;
}

.order-number,
.order-date-preview {
    width: 25vw;
}

.order-details-row {
    border-radius: 4px;
    box-shadow: 0 5px 15px -6px #888888;
    display: inline-table;
    margin: 1vw 0;
}

.order-details-row:first-child {
    border-top: none;
}

div .solid {
    border-top: 3px solid #bbb;
    margin-bottom: 2vh;
}

div .thin {
    border-top: 2px solid #bbb;
    margin: 2vh 0;
}

.column {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.product-image {
    height: 7vw;
    min-height: 70px;
    border-radius: 4px;
    box-shadow: 0 1px 2px #888;
    margin: 1% 0;
    text-align: center;
}

.product-image-container {
    padding: 0.5% 1%;
    width: 7vw;
}

.product-details {
    min-width: 200px;
    width: 410px;
    padding-left: 20px;
}

.product-price-details {
    text-align: right;
    width: 143px;
    padding-right: 2vw;
}

.order-details {
    background: var(--white);
    flex-direction: column;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    padding-bottom: 5px;
    margin-top: 5%;
    padding: 2vw;
    border-radius: 1vw;
}

.back {
    display: block;
    height: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    transition: all .35s;
    background-color: transparent;
}

.back:hover {
    background: #333;
    color: #fff;
    border-radius: 5vw 0 0 5vw;
}


/* Loader STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.lds-spinner {
    color: #a7b1c2;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #a7b1c2;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}