@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

:root {
    --sidebar-bgColor: #242e42;
    --sidebar-bgColor-hover: #1d2636;
    --sidebar-txtColor: #dde9f8;
    --sidebar-headingColor: #7889a4;
    --sidebar-width: 100%;
    --page-content-bgColor: #f0f1f6;
    --page-content-txtColor: #171616;
    --page-content-blockColor: #fff;
    --white: #fff;
    --black: #333;
    --blue: #00b9eb;
    --border-radius: 4px;
}

.App {
    display: flex;
}

h3 {
    text-align: center;
}

ul {
    list-style: none;
}

.sidebar {
    border-radius: var(--border-radius);
    background-color: #2f4050;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    transition: width 0.2s linear;
}

.sidebar .admin-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.sidebar .admin-menu li {
    align-self: center;
    padding: 14px 20px;
    color: #a7b1c2;
    cursor: pointer;
    display: flex;
    border-radius: 10px;
    font-weight: 600;
}

.sidebar .admin-menu .menu-heading h3 {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    font-size: 12px;
    margin-top: 12px;
    color: var(--sidebar-headingColor);
}

.sidebar .admin-menu a {
    align-items: center;
    background: none;
    border: none;
    color: var(--sidebar-headingColor);
    display: flex;
    font-size: 0.9rem;
}

.sidebar .admin-menu a:hover,
.sidebar .admin-menu a:focus {
    /*background: var(--sidebar-bgColor-hover);*/
    /*color: var(--blue);*/
    cursor: pointer;
    outline: none;
}

/* PAGE CONTENT STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-content {
    width: 100%;
    min-height: 100vh;
    padding: 30px;
    color: var(--page-content-txtColor);
    background: var(--page-content-bgColor);
}

.page-content .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.page-content .grid > div {
    display: flex;
    height: 300px;
    background: var(--page-content-blockColor);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
    align-items: center;
    text-align: center;
    width: 100%;
}

/*.orders-list {
    background: var(--white);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    width: 90%;
    margin: auto;
}*/

.orders-list {
    list-style: none;
}



.table-header {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: space-around;
    border: 2px solid var(--sidebar-bgColor);
    margin: -2px;
    border-radius: var(--border-radius);
    background: var(--sidebar-bgColor);
    color: var(--white);
}

.table-content {
    display: flex;
    flex-direction: column;
}

.table-content .row {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.table-content .row .order-preview,
.order-details-row {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-content: space-around;
    align-items: center;
}

.table-content .row .order-preview {
    text-align: center;
    grid-gap: 0;
}

.table-content .row .order-preview:hover {
    box-shadow: 0 1px 2px #888;
    cursor: pointer;
}

.order-number-header {
    width: 5vw;
}

.placed-header {
    width: 15vw;
}

.order-number,
.order-date-preview {
    width: 25vw;
}

.order-details-row {
    display: inline-table;
    box-shadow: 0 -1px 10px 1px #888888;
    margin: 1vw 0;
    border-radius: 4px;
}

.order-details-row:first-child {
    border-top: none;
}

.column {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.product-image {
    height: 7vw;
    min-height: 70px;
    border-radius: 4px;
    box-shadow: 0 1px 2px #888;
    margin: 1% 0;
    text-align: center;
}

.product-image-container {
    padding: 0.5% 1%;
    width: 7vw;
}

.product-details {
    min-width: 200px;
    width: 410px;
    padding-left: 20px;
}

.product-price-details {
    text-align: right;
    width: 143px;
    padding-right: 2vw;
}

.order-details {
    background: var(--white);
    flex-direction: column;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    padding-bottom: 5px;
    margin-top: 5%;
    padding: 5% 1%;
    border-radius: 1vw;
}

.back {
    display: block;
    height: 50px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
}

.back:hover {
    background: #333;
    color: #fff;
}