<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appsettings>
    <add key="provider" value="system.data.sqlclient"/>
    <add key="connectionstring" value="data source=nicu\sqlexpress;initial catalog=codecoolshop;integrated security=true;"/>
  </appsettings>-->
	<connectionStrings>
		<add name="connection_string" connectionString="Data Source=NICU\SQLEXPRESS;Initial Catalog=CodeCoolShop;Integrated Security=True"/>
	</connectionStrings>
</configuration>