@{ ViewData["Title"] = "My Dashboard"; }

<div id="content"></div>

@section Scripts {
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="~/js/app.jsx"></script>
}