@{
    ViewData["Title"] = "My Cart";
}

<div class="shopping-cart-page-container" id="cartProductsPage"></div>

@section Scripts {
    <script type="module" src="~/js/cartPage.js" asp-append-version="true"></script>
}